<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando rotina de leitura</title>
</head>
<body>
    <div id="Menu">
        <h1><%= NomeDoUsuario%></h1>
        <input type="button" value="Resumo" id="btnAcionarResumo" onclick="location.href = '/DashBord/<%= usuarioID%>'">
        <input type="button" value="Minhas Leituras" id="btnAcionarMinhasLeituras" onclick="location.href = '/DashBord/<%= usuarioID%>/MinhaLeitura'">
        <input type="button" value="Pesquisar Livros" id="btnAcionarPesquisaDeLivros" onclick="location.href = '/MinhaPesquisaComResposta/<%= usuarioID%>/book/'">
        <input type="button" value="Meu Perfil" id="btnMeuPerfil" onclick="location.href = '/DashBord/<%= usuarioID%>/AlterarUsuario/'">
        <input type="button" value="Logout" id="btnLogout" onclick="location.href = '/'">
    </div>
    <form method="POST">
        <h1>READING...</h1>           
            <h1> <%= NomeDoLivro %> </h1>
            </select>
            <label>Paginas Lidas</label>
        <input type="text" name="paginas">
        <input type="date" name="data">
        <input type="button" value="Voltar" id="btnAcionarMinhasLeituras" onclick="location.href = '/DashBord/<%= usuarioID%>/MinhaLeitura'">
        <input type="submit" value="Adicionar Rotina">
</form>
</body>
</html>