<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" charset="utf-8" defer>
    </script>
    <link href="stylesheet" href="/public/css/reset.css ">
    <link rel="stylesheet" href="/public/css/DashBord.css">
    <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        th{
            background-color: blue;
        }
    </style>

    <title>Resumo</title>
</head>

<body>
    <div class="container">
        <div class="Menu">
            <div class="logo">
                <img src="/public/img/Reading....svg" id="logo">
            </div>
            <div class="botoes">
                <input type="button" value="Resumo" id="btnAcionarResumo" onclick="location.href = '/DashBord/<%= usuarioID%>'">
                <input type="button" value="Minhas Leituras" id="btnAcionarMinhasLeituras" onclick="location.href = '/DashBord/<%= usuarioID%>/MinhaLeitura'">
                <input type="button" value="Pesquisar Livros" id="btnAcionarPesquisaDeLivros" onclick="location.href = '/MinhaPesquisaComResposta/<%= usuarioID%>/book/'">
                <input type="button" value="Meu Perfil" id="btnMeuPerfil" onclick="location.href = '/DashBord/<%= usuarioID%>/AlterarUsuario/'">
                <input type="button" value="Logout" id="btnLogout" onclick="location.href = '/'">
            </div>
            <h1 id="nomeusuario"><%= NomeDoUsuario %></h1>
        </div>

        <div class="Resumo">
                <h1>Resumo De Leitura</h1>
            <div class="DashBordResumo">
                <div class="livroslidos">
                    <h1 class="numerolivros"><%= quantidadedelivros %></h1>
                    <p>Livros Lidos</p>
                </div>
                <div class="paginaslidas">
                    <h1 class="numeropaginas"><%= quantidadedepaginas %></h1>
                    <p>Paginas Lidas</p>
                </div>
            </div>
            <div class="idDivResumoDeAtividade">
                <h1>Resumo de Atividade</h1>
                <div class="tabela">
                    
                    <table>
                        <tr>
                            <th>Livro</th>
                            <th>Dia</th>
                            <th>Pagina</th>
                        </tr>

                        <% for(let i=0;i < 5;i++ ) { %>
                            <%   if(Log[i] != null){ %>
                            <tr>
                                <td><%= Log[i].livro %> </td>
                                <td><%= Log[i].data %></td>
                                <td><%= Log[i].paginas %></td>
                            </tr>
                            <% } %>
                            <% } %>
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="right">
            <h1>Último Livro</h1>
            <div class="imagemlivro">
                <img src=<%= imgUltimoLivro %> >
            </div>
            <div class="status">
                <h2 class="nomedoultimolivro">Nome: <%= NomeDoUltimoLivro %></h2>
                <h2 class="statusultimolivro">Status: <%= StatusDoUltimoLivro %></h2>
                <h2 class="porcentagemultimolivro">Porcentagem: <%= PorcentagemUltimoLivro %> %</h2>
            </div>
        </div>
    </div>
</body>

</html>