<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheet" href="/public/css/reset.css ">
    <link rel="stylesheet" href="/public/css/MeuLivro.css">
    <script type="module" charset="utf-8" defer>
    </script>

    <title>Meu Livro</title>
</head>

<body>
    <div class="container">
        <div class="Menu">
            <div class="logo">
                <img src="/public/img/Reading....svg" id="logo">
            </div>
            <div class="botoes">
                <input type="button" value="Resumo" id="btnAcionarResumo" onclick="location.href = '/DashBord/<%= usuarioID%>'">
                <input type="button" value="Minhas Leituras" id="btnAcionarMinhasLeituras" onclick="location.href = '/DashBord/<%= usuarioID%>/MinhaLeitura'">
                <input type="button" value="Pesquisar Livros" id="btnAcionarPesquisaDeLivros" onclick="location.href = '/MinhaPesquisaComResposta/<%= usuarioID%>/book/'">
                <input type="button" value="Meu Perfil" id="btnMeuPerfil" onclick="location.href = '/DashBord/<%= usuarioID%>/AlterarUsuario/'">
                <input type="button" value="Logout" id="btnLogout" onclick="location.href = '/'">
            </div>
            <h1 id="nomeusuario">
                <%= NomeDoUsuario%>
            </h1>
        </div>
        <div class="direita">
            <div class="titulo">
                <h1>Meu Livro</h1>
            </div>
            <div class="botaosubmit">
                <input type="button" onclick="location.href = '/DashBord/<%= usuarioID%>/AdicionarRotina/<%= livroId%>'" value="Adicionar Rotina"></input>
                <input type="button" onclick="location.href = '/DashBord/<%= usuarioID%>/AlterarLivro/<%=indexDoLivro%>'" value="Alterar Livro"></input>
            </div>
            <div class="conteudo">
                <div class="DashBordMinhaPesquisa">
                    <table>
                        <form method="POST">
                            <div class="imagemlivro">
                                <img src=<%=img%>>
                            </div>
                            <div class="informacoes">
                                <h1>
                                  Nome:  <%= NomeDoLivro%>
                                </h1>
                                <h1>
                                  Status:  <%= Situacao%>
                                </h1>
                                <h1>
                                  Paginas:  <%= Paginas%>
                                </h1>
                            </div>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

</html>