<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" charset="utf-8" defer>
    </script>
    <link href="stylesheet" href="/public/css/reset.css ">
    <link rel="stylesheet" href="/public/css/MinhaPesquisaComResposta.css">

    <title>Minha Pesquisa</title>
</head>

<body>
    <div class="container">
        <div class="Menu">
            <div class="logo">
                <img src="/public/img/Reading....svg" id="logo">
            </div>
            <div class="botoes">
                <input type="button" value="Resumo" id="btnAcionarResumo" onclick="location.href = '/DashBord/<%= usuarioID%>'">
                <input type="button" value="Minhas Leituras" id="btnAcionarMinhasLeituras" onclick="location.href = '/DashBord/<%= usuarioID%>/MinhaLeitura'">
                <input type="button" value="Pesquisar Livros" id="btnAcionarPesquisaDeLivros" onclick="location.href = '/MinhaPesquisaComResposta/<%= usuarioID%>/book/'">
                <input type="button" value="Meu Perfil" id="btnMeuPerfil" onclick="location.href = '/DashBord/<%= usuarioID%>/AlterarUsuario/'">
                <input type="button" value="Logout" id="btnLogout">
            </div>
            <h1 id="nomeusuario"><%= NomeDoUsuario%></h1>
        </div>
        <div class="main">
            <h1>Pesquisar Livros</h1>
            <div class="DashBordMinhaPesquisa">
                <table>
                    <div class="search">
                        <form method="POST">
                            <label>Nome Do Livro: </label>
                            <input type="text" name="NomeDoLivro">
                            <input type="submit" value="Procurar">
                        </form>
                    </div>
                </table>

            </div>
            <div class="resultado">
                <div>
                    <img src=<%= img%>>
                    
                </div>
                <h2>
                  Nome do livro:  <%= NomeDoLivro%>
                </h2>
                <h2>
                  Autor:  <%= Autor%>
                </h2>
                <h2>
                  Descrição:  <%= description%>
                </h2>
                <h2>
                  Quantidade de paginas:  <%= quantidadedePaginas%>
                </h2>
            </div>
</body>

</html>