<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" charset="utf-8"  defer>
    </script>

    <title>MinhaPesquisa</title>
</head>
<body>
    <div id="Menu">
        <h1><%= NomeDoUsuario%></h1>
        <input type="button" value="Resumo" id="btnAcionarResumo">
        <input type="button" value="Minhas Leituras" id="btnAcionarMinhasLeituras">
        <input type="button" value="Pesquisar Livros" id="btnAcionarPesquisaDeLivros">
    </div>
    <div id="DashBordMinhaPesquisa">  
        <h1>MinhaPesquisa</h1>
        <div>
            <table>
                <form method="POST">
                    <label>NomeDoLivro</label>
                    <input type="text" name="NomeDoLivro">
                    <input type="submit" value="Procurar"> 
                    <h1><%= NomeDoLivro%></h1>
                    <h1><%= Autor%></h1>
                    <h1><%= description%></h1>
                    <h1><%= quantidadedePaginas%></h1>

                    <h1></h1>
            </form>
            </table>
        </div>
    </div>
</body>
</html>