<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" charset="utf-8" defer>
    </script>
    <link href="stylesheet" href="/public/css/reset.css ">
    <link rel="stylesheet" href="/public/css/MinhaLeitura.css">


    <title>Minhas Leituras</title>
</head>

<body>
    <div class="container">
        <div class="Menu">
            <div class="logo">
                <img src="/public/img/Reading....svg" id="logo">
            </div>
            <div class="botoes">
                <input type="button" value="Resumo" id="btnAcionarResumo" onclick="location.href = '/DashBord/<%= usuarioID%>'">
                <input type="button" value="Minhas Leituras" id="btnAcionarMinhasLeituras" onclick="location.href = '/DashBord/<%= usuarioID%>/MinhaLeitura'">
                <input type="button" value="Pesquisar Livros" id="btnAcionarPesquisaDeLivros" onclick="location.href = '/MinhaPesquisaComResposta/<%= usuarioID%>/book/'">
                <input type="button" value="Meu Perfil" id="btnMeuPerfil">
                <input type="button" value="Logout" id="btnLogout">
            </div>
            <h1 id="nomeusuario"><%= NomeDoUsuario%></h1>
        </div>

        <div class="direita">
            <div class="titulo">
                <h1>Minhas Leituras</h1>
            </div>
            <div class="botaoadd">
                <input type="button" value="Adicionar Livro" id="btnAddLivro">
                <input type="button" value="Alterar Livro" id="btnAltLivro">
            </div>
            <div class="DashBordMinhaPesquisa">
                <table>
                    <form method="POST">
                            <!-- aqui tenta fazer uma div com estilização-->
                            <% if(infolivro !=[]) { %>
                                <% for(let i=0;i < (infolivro.length);i++ ) { %>
                                    <div class="containerlivro" style="cursor: pointer;" onclick="location.href = '/DashBord/<%= usuarioID%>/MeuLivro/<%= i%>'">

                                        <div class="imagemlivro">
                                            <img src=<%=infolivro[i].img %>/>
                                        </div>
                                        <p>
                                            <%= infolivro[i].nome %>
                                        </p>
                                        <p>
                                            <%= infolivro[i].porcentagem %> %
                                        </p>
                                        <p>
                                            <%= infolivro[i].situacao %>
                                        </p>
                                    </div>
                                    <% } %>
                                            <% }else{ %>
                                                <div class="containerlivro">
                                                <h1>Nenhum Livro Cadastrado</h1>
                                                 </div>

                                                <% } %>
                       
                    </form>
                </table>
            </div>
        </div>

</body>

</html>