<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" charset="utf-8"  defer>
    </script>

    <title>Minhas Leituras</title>
</head>
<body>
    <div id="Menu">
        <h1><%= NomeDoUsuario%></h1>
        <input type="button" value="Resumo" id="btnAcionarResumo" onclick="location.href = '/DashBord/<%= usuarioID%>'">
        <input type="button" value="Minhas Leituras" id="btnAcionarMinhasLeituras" onclick="location.href = '/DashBord/<%= usuarioID%>/MinhaLeitura'">
        <input type="button" value="Pesquisar Livros" id="btnAcionarPesquisaDeLivros" onclick="location.href = '/MinhaPesquisaComResposta/<%= usuarioID%>/book/'">
    </div>
    <div id="DashBordMinhaPesquisa">  
        <h1>MinhaPesquisa</h1>
        <div>
            <table>
                <form method="POST">

                    <!-- aqui tenta fazer uma div com estilização-->
                    <% if(infolivro != []) { %>
                    <% for(let i=0;i < (infolivro.length);i++ ) { %>
                        <div>
                        <img src=<%= infolivro[i].img %>/>
                        <h1><%= infolivro[i].nome %></h1>
                        <h1><%= infolivro[i].porcentagem %> %</h1>
                        <h1><%= infolivro[i].situacao %></h1>
                        </div>
                      <% } %>
                      <% }else{ %>
                        <!--Isso nao funciona-->
                        <h1>Nenhum Livro Cadastrado</h1>
                     <% } %>
                        
                    
                    
            </form>
            </table>
        </div>
    </div>
</body>
</html>